@import '~normalize.css/normalize.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
	font-family: 'Roboto', 'sans-serif', 'arial';
	height: 100%;
	color: #212121;
	background: #f6f6f6;
}

img {
	width: 100%;
}

a {
	color: #106ba3 !important;
}

a:hover {
	color: #0000ee !important;
	text-decoration: none !important;
	transition: 250ms ease all;
}

.shadow {
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.05) !important;
}

.divider {
	height: 44px;
	margin-bottom: -18px;
	background: -webkit-linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.14),
		rgba(0, 0, 0, 0.03) 3px,
		transparent
	);
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.14),
		rgba(0, 0, 0, 0.03) 3px,
		transparent
	);
	z-index: 0;
	zoom: 1;
}

.divider::after {
	display: block;
	width: 100%;
	height: 44px;
	background-color: transparent;
	background: -webkit-linear-gradient(
		to right,
		#f6f6f6,
		rgba(246, 246, 246, 0),
		#f6f6f6
	);
	background: linear-gradient(
		to right,
		#f6f6f6,
		rgba(246, 246, 246, 0),
		#f6f6f6
	);
	z-index: 1;
	content: '';
}

.divider-white::after {
	background: -webkit-linear-gradient(
		to right,
		#ffffff,
		rgba(255, 255, 255, 0),
		#ffffff
	) !important;
	background: linear-gradient(
		to right,
		#ffffff,
		rgba(255, 255, 255, 0),
		#ffffff
	) !important;
}

.slick-slider {
	max-width: 1600px;
	width: 100%;
	height: 500px;
}

.slick-slider .slick-slide,
.slick-slider .slick-slide div,
.slick-slider .slick-slide img {
	width: 100%;
	min-height: 500px;
}

.App {
	font-size: 14px;
}

.App .brand {
	width: 90px;
	height: 90px;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
	margin: 40px auto;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.05);
}

.App .brand img {
	width: 100%;
}

.App .card-wrapper {
	width: 400px;
	margin: 0 auto;
}

.App .card {
	border-color: transparent;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.App .card.fat {
	padding: 10px;
}

.App .card .card-title {
	margin-bottom: 30px;
}

.App .form-control {
	border-width: 2.3px;
}

.App .form-group label {
	width: 100%;
}

.App .btn.btn-block {
	padding: 12px 10px;
}

.App .margin-top20 {
	margin-top: 20px;
}

.App .no-margin {
	margin: 0;
}

.App .footer {
	margin: 40px 0;
	color: #888;
	text-align: center;
}

@media screen and (max-width: 425px) {
	.App .card-wrapper {
		width: 90%;
		margin: 0 auto;
	}
}

@media screen and (max-width: 320px) {
	.App .card.fat {
		padding: 0;
	}

	.App .card.fat .card-body {
		padding: 15px;
	}
}
