.welcome-message {
	background: #ffa00c;
	color: #ffffff;
	border: 0 solid #ffa00c;
	padding: 35px;
	font-weight: bold;
	display: flex;
	height: 100%;
	width: 100%;
	position: relative;
	margin-bottom: 1rem;
}
