#main-search-form {
	overflow: hidden;
}

#main-search-form form,
#main-search-form select,
#main-search-form input {
	outline: none;
	box-shadow: none;
}

#main-search-form form {
	display: flex;
}

#main-search-form select {
	height: 45px;
	padding: 5px 10px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-color: rgba(0, 0, 0, 0.1);
	color: #929599;
	flex: 2;
	text-indent: 10px;
}

#main-search-form select option {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #929599;
}

#main-search-form input {
	height: 45px;
	padding: 5px 10px 5px 25px;
	font-style: italic;
	border-color: rgba(0, 0, 0, 0.1);
	border-right: none;
	border-left: none;
	flex: 7;
}

#main-search-form button {
	height: 45px;
	padding: 5px 10px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-left: none;
	border-color: rgba(0, 0, 0, 0.1);
	background: none;
	outline: none;
	color: #929599;
}

#main-search-form button i {
	margin-right: 20px;
}
