.slick-slider {
	margin: 0 auto;
}

.slick-prev,
.slick-next {
	z-index: 100 !important;
}

.slick-prev {
	left: 35px !important;
}

.slick-next {
	right: 35px !important;
}

.slick-prev:before,
.slick-next:before {
	font-size: 2rem;
}

.pagination-buttons {
	font-weight: bold;
	font-size: 2em;
	color: lightgrey !important;
}
