.header {
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

.header .left {
	flex: 1;
}

.header .center {
	flex: 5;
}

.header .right {
	flex: 1;
}

.header .right ul {
	list-style-type: none;
	display: flex;
	margin-top: 15px;
}
